{% extends 'base.html.twig' %}

{% block title %}Stacje - {{ parent() }}{% endblock %}

{% set stacjeActive = true %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/select2/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">
    <style>
        .select2-container--open {
            z-index: 10000;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('plugins/select2/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('plugins/sweetalert2/sweetalert2.min.js') }}"></script>
    <script>
        $(function () {
            $('.select2').select2()
        })
    </script>
    <script>
        $(function () {
            $('#listaStacji').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "autoWidth": false,
                "responsive": true,
                "language": {
                    "paginate": {
                        "first": "Pierwsza",
                        "last": "Ostatnia",
                        "next": "Następna",
                        "previous": "Poprzednia"
                    },
                    "info": "Wyniki od _START_ do _END_ z _TOTAL_"
                }
            });
        });
    </script>
    <script>
        function createModal(id = null)
        {
            let getFormURL = '{{ path('get_form_ajax') }}?id='+id
            $.ajax({
                type: 'POST',
                url: getFormURL
            }).done(function (response){
                Swal.fire({
                    title: 'Dodaj nową stację',
                    html: response,
                    showCancelButton: true,
                    cancelButtonText: 'Anuluj',
                    confirmButtonText: 'Dodaj',
                    confirmButtonColor: '#28a745',
                    cancelButtonColor: '#dc3545',
                    showLoaderOnConfirm: true,
                    preConfirm: () => {
                        let valid = true;
                        let name = $('#add_station_form_name').val()
                        let description = $('#add_station_form_description').val()
                        let users = $('#add_station_form_users').val()
                        let apiKey = $('#api_key').val()

                        let url = '{{ path('add_station_ajax') }}';


                        $.ajax({
                            type: 'POST',
                            url: url,
                            data: {
                                'name': name,
                                'description': description,
                                'users': users,
                                'api_key': apiKey,
                                'id': id
                            }
                        }).done(function (d) {
                            if (d.status === 'success')
                            {
                                Swal.fire(
                                    'Sukces',
                                    'Poprawnie dodano stację',
                                    'success'
                                ).then(function () {
                                    window.location.reload();
                                })
                            }
                            else
                            {
                                let errors = d.errors;
                                let text = 'Wystąpiły następujące błędy: '
                                $.each(errors, function (key, val) {
                                    text += '<br>' + val
                                })
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Błąd',
                                    html: text,
                                    confirmButtonColor: '#28a745',
                                    confirmButtonText: 'OK'
                                })
                            }
                        })
                    },
                    allowOutsideClick: () => !Swal.isLoading()
                })
                $('.select2').select2();
            })

        }

        $('#addStation').click(function (e) {
            createModal(null);
        })
    </script>
{% endblock %}

{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Stacje</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Stacje</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <button type="button" class="btn btn-block bg-gradient-success" id="addStation">Dodaj stację</button>
                        </div>
                        <div class="card-body">
                            <table id="listaStacji" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nazwa stacji</th>
                                    <th>Opis</th>
                                    <th>Użytkownicy</th>
                                    <th>Akcje</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if stations|length < 1 %}
                                    <tr>
                                        <td colspan="5" class="text-center">Nie znaleziono stacji</td>
                                    </tr>
                                {% else %}
                                    {% for station in stations %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ station.name }}</td>
                                            <td>{{ station.description }}</td>
                                            <td>
                                                {% if station.users|length < 1 %}
                                                    Brak przypisanych użytkowników
                                                {% else %}
                                                    {% for user in station.users %}
                                                        {{ user }}
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                <a href="{{ path('station_details', {'id': station.id, 'slug': station.slug}) }}" class="text-danger"><i class="fas fa-eye"></i></a>
                                                <a href="javascript:void(0)" class="text-danger" onclick="createModal({{ station.id }})"><i class="fas fa-edit"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>

{% endblock %}
