<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Poznański Klub Modelarzy Kolejowych{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('app/dist/main.css?v=1.0') }}">
            <!-- Ionicons -->
            <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
            <!-- JQVMap -->
            <link rel="stylesheet" href="{{ asset('plugins/jqvmap/jqvmap.min.css?v=1.0') }}">
            <!-- Google Font: Source Sans Pro -->
            <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
            <style>
                a
                {
                    color: #343a40;
                }
                a:hover
                {
                    color: #dc3545;
                }
                .page-item.active .page-link
                {
                    background-color: #dc3545;
                    border-color: #dc3545;
                }
                .brand-link .brand-image
                {
                    width: 80%;
                    max-height: none;
                    margin-left: auto;
                    margin-right: auto;
                }
            </style>
        {% endblock %}
    </head>
    <body {% block bodyclass %}class="hold-transition sidebar-mini layout-fixed"{% endblock %}>
        {% block body %}

        {% endblock %}
        {% block javascripts %}
            <!-- Webpack generated JS -->
            <script src="{{ asset('app/dist/main.js?v=1.0') }}"></script>
            <!-- ChartJS -->
            <script src="{{ asset('plugins/chart.js/Chart.min.js?v=1.0') }}"></script>
            <!-- Sparkline -->
            <script src="{{ asset('plugins/sparklines/sparkline.js?v=1.0') }}"></script>
            <!-- JQVMap -->
            <script src="{{ asset('plugins/jqvmap/jquery.vmap.min.js?v=1.0') }}"></script>
            <script src="{{ asset('plugins/jqvmap/maps/jquery.vmap.usa.js?v=1.0') }}"></script>
            <!-- jQuery Knob Chart -->
            <script src="{{ asset('plugins/jquery-knob/jquery.knob.min.js?v=1.0') }}"></script>
            <!-- daterangepicker -->
            <script src="{{ asset('plugins/moment/moment.min.js?v=1.0') }}"></script>
            <script src="{{ asset('plugins/daterangepicker/daterangepicker.js?v=1.0') }}"></script>
            <!-- Tempusdominus Bootstrap 4 -->
            <script src="{{ asset('plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js?v=1.0') }}"></script>
            <!-- Summernote -->
            <script src="{{ asset('plugins/summernote/summernote-bs4.min.js?v=1.0') }}"></script>
            <!-- overlayScrollbars -->
            <script src="{{ asset('plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js?v=1.0') }}"></script>
        {% endblock %}
    </body>
</html>
