{% extends 'base.html.twig' %}

{% set unwrapped = true %}

{% block title %}KMK | Nie pamiętam hasła{% endblock %}

{% block header %}

{% endblock %}

{% block sidebar %}

{% endblock %}

{% block bodyclass %}class="hold-transition login-page"{% endblock %}

{% block content %}

    <div class="login-box">

        <div class="login-logo">
            <a href="{{ path('index') }}"><b>KMK</b><br>Serwis inwentaryzacyjny</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">

            <div class="card-body login-card-body">
                {% if success %}
                    <div class="alert alert-success">{{ success }}</div>
                {% else %}
                <p class="login-box-msg">Przypomnij hasło</p>

                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}

                {{ form_start(forget_form) }}

                <div class="input-group mb-3">
                    {{ form_widget(forget_form.email, {attr: {'class': 'form-control', 'placeholder': 'Wprowadź adres e-mail', 'autofocus': ''}}) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mt-3 mb-3">
                        <button type="submit" class="btn btn-danger btn-block">Zresetuj hasło</button>
                    </div>
                    <!-- /.col -->
                </div>

                {{ form_end(forget_form) }}

                {% endif %}


                <p class="mb-1 text-center">
                    <a href="{{ path('app_login') }}" class="text-danger">Logowanie</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}