{% extends 'base.html.twig' %}

{% set unwrapped = true %}

{% block title %}KMK | Zresetuj hasło{% endblock %}

{% block header %}

{% endblock %}

{% block sidebar %}

{% endblock %}

{% block bodyclass %}class="hold-transition login-page"{% endblock %}

{% block content %}

    <div class="login-box">

        <div class="login-logo">
            <a href="{{ path('index') }}"><b>KMK</b><br>Serwis inwentaryzacyjny</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">

            <div class="card-body login-card-body">
                {% if success %}
                    <div class="alert alert-success">{{ success }}</div>
                {% else %}
                    <p class="login-box-msg">Zresetuj hasło</p>

                    {% if error %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}

                    {% if reset_form %}
                        {{ form_start(reset_form) }}

                        <div class="input-group mb-3">
                            {{ form_widget(reset_form.plainPassword, {attr: {'class': 'form-control', 'placeholder': 'Wprowadź nowe hasło', 'autofocus': ''}}) }}
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 mt-3 mb-3">
                                <button type="submit" class="btn btn-danger btn-block">Zresetuj hasło</button>
                            </div>
                            <!-- /.col -->
                        </div>

                        {{ form_end(reset_form) }}
                    {% endif %}

                {% endif %}


                <p class="mb-1 text-center">
                    <a href="{{ path('app_login') }}" class="text-danger">Logowanie</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}